<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/design-patterns-2/src/cap4e5/interpreter_visitor/Programa.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="cap4e5.interpreter_visitor.Programa"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="design-patterns-2"/>
</launchConfiguration>
